.buy-a-car {
  .infinite-header {
    position: relative;
    background-color: $--white;
    &::after {
      content: '';
      position: absolute;
      top: 105%;
      left: 0;
      right: 0;
      width: 100%;
      height: 12px;
      background: radial-gradient(
        ellipse at 50% -75%,
        rgba(45, 54, 62, 0.3),
        rgba(45, 54, 62, 0) 80%
      );
    }

    .header {
      max-width: $--max-page-width;
      margin: auto auto 1.75rem auto;
      padding: 1.25rem 1.25rem 1rem 1.25rem;

      // Search input
      .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 1rem 0.85rem 0.65rem 0.85rem !important;
      }

      small {
        color: $--primary-button;
      }
      .title-marker {
        @include flexCenter(flex-start);
        column-gap: 0.6rem;
        // Marker icon
        i {
          color: $--primary-color;
        }
      }

      .MuiFormControl-root {
        // Search icon
        i {
          width: 1rem;
          font-size: 1.4rem;
          color: $--primary-color;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0.5rem;
        margin-top: 0.25rem;
        color: $--subtitle-gray;
        box-shadow: none;

        .MuiButtonBase-root {
          font-weight: 600;
          background-color: $--bg-light;
        }

        i {
          font-size: 1.05rem;
          margin-left: 0rem;
          color: $--primary-text-light;
        }
      }
    }
  }
  img[alt='Filter Image'] {
    width: 2rem;
  }

  .cars {
    background-color: $--bg-gray-light;
    padding: 0.25rem 0 1.25rem 0;
    main {
      @include flexCenter(space-between, flex-start, column);
      max-width: $--max-page-width;
      margin: auto;
      padding: 0 1.25rem;

      @media screen and (max-width: $--breakpoint-sm) {
        flex-direction: column;
      }
    }

    .results {
      display: flex;
      width: 100%;
      column-gap: 1rem;

      .filters-sidebar {
        @include flexCenter(flex-start, initial, column);
        row-gap: 0.25rem;
        position: sticky;
        top: 1rem;
        width: 30%;
        min-width: min-content;
        height: 100vh;
        box-shadow: $--md-box-shadow;
        background-color: $--white;
        border: 1px solid $--border-gray;
        border-radius: $--borderRadiusInput;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        }

        &::-webkit-scrollbar-thumb {
          background-color: $--bg-gray-light;
          outline: $--bg-gray-light;
        }

        > div {
          padding: 1rem 1.25rem;
        }

        .years {
          margin-top: 0.75rem;
        }

        .years,
        .price {
          display: grid;
          grid-template-areas:
            'h3 h3'
            'label label'
            'div div';
          flex: 1;
          column-gap: 0.5rem;

          h3 {
            grid-area: h3;
            margin-bottom: 0.35rem;
          }

          label {
            max-width: 100%;
            margin-bottom: 0.25rem;
            font-weight: 700;
            font-size: 0.85rem;
            color: $--subtitle-gray;
          }
        }

        .years input {
          padding-top: 0.5rem;
        }

        .price input {
          width: 100%;
          max-width: 100%;
          // padding: 0.5rem 0.85rem 0.1rem 0.75rem;
          padding: 0.5rem 0.85rem 0.5rem 0.75rem;
          font-weight: 500;
          font-size: 0.9rem;
          color: #000;
          border-radius: 0.25rem;
          border: 1px solid $--border-gray;
          outline: none;
        }

        .makers {
          .MuiAutocomplete-input {
            padding-top: 0.4rem;
          }
        }
      }

      // List of cars and single cars
      .cars-sidebar {
        @include flexCenter(unset, flex-start, column);
        flex: 1;
        row-gap: 1.25rem;

        .result-details {
          width: 100%;
          display: grid;
          grid-template-columns: max-content 1fr;
          grid-template-areas: 'nb-results sort-and-filters';

          @media screen and(max-width: $--breakpoint-md) {
            grid-template-areas:
              'sort-and-filters sort-and-filters'
              'nb-results nb-results';
            > div:not(.sort-and-filters) {
              grid-area: nb-results;
            }
          }

          .sort-and-filters {
            justify-self: end;
            grid-area: sort-and-filters;
          }

          button {
            @include secondaryButton();
            column-gap: 0.25rem;
            margin-right: 1rem;
            font-weight: 600;
          }

          .select-filters {
            display: none;

            @media screen and (max-width: $--breakpoint-lg) {
              display: initial;
            }
          }

          img {
            width: 1.1rem;
          }
        }

        .cars-list {
          @include flexCenter(unset, unset, column);
          row-gap: 1rem;
          width: 100%;

          .single-car {
            @include flexCenter(center, unset);
            box-shadow: $--md-box-shadow;
            background-color: $--bg-light; // $--bg-input

            img {
              width: 300px;
            }

            .grid-info {
              display: grid;
              flex: 1;
              grid-template-areas:
                'carName carName price     '
                'miles   miles   monthlyPay'
                'hr      hr      hr        '
                'number  number  .         '
                'extras  extras  .         ';
              grid-template-columns: 1fr 1fr max-content;
              grid-template-rows: 1fr 1fr 0.25fr 0.75fr 0.75fr;
              row-gap: 0.75rem;
              padding: 0.65rem 1rem;

              @media screen and(max-width: $--breakpoint-md) {
                grid-template-areas:
                  'carName    carName   '
                  'price      monthlyPay'
                  'miles      miles     '
                  'hr         hr        '
                  'number     number    '
                  'extras     extras    ';
              }

              h3 {
                grid-area: carName;
              }
              > span {
                @include dollarSign;
                grid-area: price;
                font-weight: 500;
              }
              b {
                grid-area: miles;
              }
              .monthly-pay {
                @include dollarSign;
                grid-area: monthlyPay;
                color: $--primary-text-dark;
                font-weight: 500;
              }
              hr {
                grid-area: hr;
              }
              .availability {
                grid-area: number;
              }
              ul {
                @include flexCenter(flex-start);
                grid-area: extras;

                li {
                  font-size: 0.85rem;
                  color: $--subtitle-gray;
                  margin-right: 0.85rem;
                }
              }
            }

            @media screen and (max-width: $--breakpoint-sm) {
              @include flexCenter(unset, center, column);
              img {
                width: 100%;
              }
              .grid-info {
                width: 100%;
                grid-template-areas:
                  'carName carName price     '
                  'miles   miles   monthlyPay'
                  'hr      hr      hr        '
                  'number  number  .         '
                  'extras  extras  .         ';
              }
            }
          }
        }
        .no-cars-available {
          @include flexCenter();
          padding-top: 1.5rem;
          margin: 0 0.5rem 1.5rem 0.5rem;
          > div {
            flex: 1;
            padding: 0 1rem;
            color: #0f3485;
            font-size: 1rem;
            border-color: $--bg-input; /*#dee4f5;*/
            background-color: $--bg-light;
            > div {
              margin: 0.75rem 0.5rem 1.5rem 0;
            }
          }
          img {
            max-width: 60%;
            padding: 3rem 0.5rem;
          }

          @media screen and(max-width: $--breakpoint-md) {
            flex-direction: column;
            img {
              min-width: 100%;
              padding: 0;
              margin-top: 2rem;
            }
          }
        }
        // Pagination navbar
        > nav {
          width: 100%;
          ul {
            justify-content: center;
          }
        }
      }
      @media screen and (max-width: $--breakpoint-lg) {
        .filters-sidebar {
          display: none;
        }
      }
      @media screen and (max-width: $--breakpoint-sm) {
      }
    }
  }
}

.filters-modal {
  .filters-sidebar {
    width: 95vw;
    margin: auto;
    padding: 2rem;

    h3 {
      margin-top: 1.5rem;
    }

    label {
      margin-right: 1rem;
      font-weight: 500;
    }

    .disabled {
      display: none;
    }
  }
}

// Makers modal
.MuiDialog-container {
  > .MuiPaper-root {
    max-width: max-content;
  }
  .dialog-title {
    display: flex;
    justify-content: space-between;
    i {
      font-size: 1.5rem;
      color: $--error;
      cursor: pointer;
    }
  }

  button[data-info='view-results'] {
    background-color: $--primary-button;
  }
}

.disabled {
  margin-top: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: $--bg-disabled;
  cursor: not-allowed;

  .quick-checkboxes {
    @include flexCenter(flex-start, flex-start, column);
  }

  button[data-makers-open-modal] {
    width: 100%;
    justify-content: flex-start;
  }
}
