.contact {
  a {
    text-decoration: underline;
    color: #3d82c3;
  }

  > h1 {
    @include titleAndUnderline();
  }

  .contact-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.75rem;
    margin: 2rem auto;
    max-width: 900px;

    @media screen and (max-width: $--breakpoint-md) {
      @include flexCenter();
      flex-wrap: wrap;
    }

    > div {
      width: 21.625rem;
      height: 18.5rem;
      padding: 1.5rem;
      border-radius: 0.65rem;
      box-shadow: 0 2px 8px hsla(0deg, 0%, 64%, 0.25);

      i {
        padding: 1rem;
        min-width: 3.5rem;
        color: #fff;
        background-color: $--primary-text-dark;
        font-size: 1.65rem;
        text-align: center;
        border-radius: 50%;
      }
      h3 {
        margin: 0.25rem auto 0.5rem auto;
      }
      span {
      }
      h1 {
      }
      h5 {
      }
      .scan-me {
        @include flexCenter();
        img {
          width: 150px;
        }
      }
      p {
      }
    }
  }
}
