.our-team {
  @include flexCenter(unset, unset, column);
  row-gap: 2rem;

  h1 {
    @include titleAndUnderline();
  }
  p,
  b {
    margin: 1rem auto;
  }

  > div {
    @include flexCenter();
    column-gap: 2.25rem;

    img[alt='Cars'] {
      width: 100%;
      max-width: 50%;
    }

    h2 {
      margin-bottom: 1rem;
    }
    img {
      width: 50%;
    }
    p {
      color: $--subtitle-gray;
    }
  }

  .our-vision {
    display: block;
    h2 {
      color: gray;
    }
  }

  .currently-in {
    @include flexCenter(center, center, column);
    padding: 5rem 0;
    color: $--white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/worldMap.png);

    ul {
      @include flexCenter();
      column-gap: 1rem;

      li {
        padding: 0 1rem;
        color: $--primary-color;
        font-size: 1.25rem;
        font-weight: 700;
        &:not(:first-child) {
          border-left: 0.19rem solid $--primary-button;
        }
      }
    }
  }

  .ready-to-start {
    @include flexCenter(center, center, column);
    text-align: center;
    padding: 8rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/happyDriver/couple-with-sun-behind.jpg);

    h2 {
      font-size: 2.25rem;
      text-shadow: 1px 0 2px rgba($color: $--border-color, $alpha: 0.5);
    }

    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
      text-shadow: 1px 0 2px rgba($color: $--border-color, $alpha: 0.5);
    }

    > div {
      margin-top: 1.5rem;

      button {
        @include primaryButton();
        column-gap: 0.8rem;
        margin: 0 0.5rem 0.5rem 0;
        font-weight: 700;
      }
      a {
        @include flexCenter(center, flex-end);
      }
      .sell-button {
        @include primaryButton($--primary-button, $--primary-button-hover);
      }
    }
  }

  @media screen and (max-width: $--breakpoint-md) {
    > div {
      &:not(.ready-to-start):not(:nth-child(2)) {
        flex-direction: column-reverse;
        img {
          width: 100%;
        }
      }
      flex-direction: column;
    }
  }
}
