.single-car-page {
  margin: 1.5rem auto;

  .title-price {
    @include flexCenter(space-between);
    h1 {
      font-size: 1.7rem;
      color: $--primary-color;
    }
    button {
      @include flexCenter();
      @include secondaryButton(uppercase);
      max-width: 250px;

      i {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  main {
    @include flexCenter(unset, flex-start);
    column-gap: 1rem;
    margin-top: 0.25rem;
  }

  .image-and-details {
    width: 66%;
    img {
      width: 100%;
    }
    .car-details {
      margin-top: 0.5rem;
      border: 1px solid rgba($color: $--border-color, $alpha: 0.1);

      h3 {
        grid-column: 1/5;
        margin-bottom: 0.65rem;
        font-size: 1.25rem;
      }
      .description {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0.9rem 1.35rem 1.35rem 1.35rem;
        font-weight: 400;
        font-size: 0.875rem;

        .single-detail {
          line-height: 1.65rem;
        }

        .single-value {
          line-height: 1.65rem;
          color: $--subtitle-gray;
        }
      }
    }

    .slider-images {
      @include flexCenter(space-between);
      column-gap: 0.5rem;
      margin-bottom: 0.35rem;

      div {
        @include flexCenter();
        width: 5.5rem;
        height: 3.5rem;
        background-color: $--bg-disabled;
      }
    }

    .buttons-options {
      @include flexCenter();
      column-gap: 0.25rem;
      button {
        @include secondaryButton();
      }
    }
    h5 {
      margin-top: 0.5rem;
      a {
        color: $--primary-color;
      }
    }
  }

  .right-side-boxes {
    @include flexCenter(center, center, column);
    row-gap: 0.75rem;
    width: 33%;

    .price-and-others,
    .vendor-info,
    .propaganda {
      width: 100%;
      height: 100%;
      min-height: 175px;
      padding: 0.9rem 1.35rem 1.35rem 1.35rem;
      border: 1px solid rgba($color: $--border-color, $alpha: 0.1);
      h2 {
        font-size: 1.65rem;
      }
      h3 {
        margin-bottom: 0.15rem;
        font-weight: 400;
        color: $--subtitle-gray;
      }
    }
    .price-and-others {
      > div {
        @include flexCenter(space-between);
        i {
          margin: 0 0.75rem;
          font-size: 1.25rem;
        }
      }
      span {
        display: block;
        margin: 0.5rem 0;
        font-size: 1rem;
        font-weight: 500;
        color: $--subtitle-gray;
      }
    }
    .vendor-info {
      @include flexCenter(unset, space-between, column);
      row-gap: 0.35rem;

      .icon-name-arrow {
        @include flexCenter(unset);
        column-gap: 0.5rem;
        i {
          font-size: 2.75rem;
        }
        b {
          font-size: 1.25rem;
          font-weight: 500;
        }
        .fas.fa-caret-right {
          flex: 1;
          text-align: right;
          font-size: 1.25rem;
        }
      }

      > button {
        @include secondaryButton();
        width: 100%;
        max-height: 2.5rem;
        margin: 0.5rem 0;
      }
    }
    .propaganda {
      color: $--subtitle-gray;
      margin-top: 0;
      cursor: initial;
    }
  }
  @media screen and(max-width: $--breakpoint-mdLg) {
    main {
      flex-direction: column;
    }

    .image-and-details,
    .right-side-boxes {
      width: 100%;
    }

    .image-and-details {
      margin-bottom: 0.75rem;
    }
  }

  @media screen and(max-width:$--breakpoint-sm) {
    .title-price {
      flex-direction: column;
    }
  }
}

.MuiButton-root.buy-button {
  @include flexCenter();
  @include primaryButton($--primary-button, $--primary-button-hover);
  min-width: 150px;
  margin: 1.5rem 0;
  padding: 0.35rem 2rem;
  font-size: 1.15rem;
}
.paypal-custom {
  text-align: center;
}
