.login-dialog {
  .MuiPaper-root {
    max-width: 480px;
    min-height: 400px;
    border-radius: 10px;
    padding: 1.25rem 1.75rem 1.25rem 1.75rem;
  }

  p[data-auth-invalid-input] {
    color: $--error;
    margin-top: 0.15rem;
    font-size: 0.85rem;
  }

  p[data-auth-firebase-error] {
    margin: 0.5rem 0 -0.1rem 0;
    span {
      color: $--error;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .title-close {
    @include flexCenter();
    > div {
      flex: 1;
      h2 {
        text-align: center;
      }

      h4 {
        color: #a9aeb5;
        text-align: center;
        span {
          color: $--primary-color;
        }
      }
    }

    i {
      cursor: pointer;
      align-self: center;
      margin-bottom: 1.5rem;
    }
  }

  .MuiFormControl-root {
    margin: 0.5rem 0;
  }

  .register-login-buttons {
    @include flexCenter();
    column-gap: 0.5rem;
  }

  .auth-login,
  .auth-register,
  .auth-logout {
    font-family: 'Inter';
    margin-top: 0.75rem;
    padding: 0.5rem 0;
    color: #fff;
    background-color: $--primary-button;

    &:hover {
      background-color: $--primary-button-hover;
    }
    &:disabled {
      background-color: $--bg-disabled;
      color: $--disabled;
    }
  }

  .auth-logout {
    margin-top: 0.5rem;
  }

  .auth-google {
    @include flexCenter();
    width: 100%;
    height: 3rem;
    color: #000;
    background-color: $--white;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #173559;
    border-radius: 3px;
    cursor: pointer;
    text-transform: unset;
    letter-spacing: unset;

    &:hover {
      background-color: unset;
    }

    img {
      width: 35px;
    }
  }

  .auth-divider {
    margin: 0.65rem 0;
    span {
      color: $--disabled;
      font-weight: 700;
      padding: 0.5rem 2rem;
    }
  }

  .MuiDialogContentText-root {
    margin-top: 0.75rem;
    span {
      color: $--primary-text-dark;
    }
  }

  .auth-welcome-user {
    margin: 0 0 0 1.5rem;
    padding: 0.25rem 0.5rem;
    border-left: 4px solid $--success;
  }
}
