.infinite-navbar {
  background-color: $--white;
  nav {
    @include flexCenter(space-between);
    position: sticky;
    padding: $--x-padding-page;
    margin: auto auto 0.5rem auto;
    max-width: ($--max-page-width + 300px);
    box-shadow: 0 4px 15px -10px rgba($color: $--border-color, $alpha: 0.9);

    img[alt='Cars'] {
      width: 135px;
      margin: 0.4rem auto;
    }
    .hamburger-menu {
      display: none;

      @media screen and (max-width: $--breakpoint-lg) {
        display: block;
        cursor: pointer;
        i {
          font-size: 1.5rem;
        }
      }
    }

    ul {
      @include flexCenter();
      &:not(:last-child) {
        column-gap: 1rem;
      }

      @media screen and (max-width: $--breakpoint-lg) {
        &:not(:last-child) {
          display: none;
        }
      }

      li {
        position: relative;
      }
      a {
        display: block;
        padding: 1.25rem 1.3rem;
        border-bottom: 5px solid transparent;
        transition: transform 0.2s ease-in-out;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          height: 5px;
          background-color: $--primary-color;
          transform-origin: right center;
          transition: transform 0.2s ease-in-out;
          transform: scaleX(0);
        }
        &:hover::after {
          transform-origin: left center;
          transform: scaleX(1);
        }
      }
    }

    // Register - Login
    &:last-child {
      column-gap: 0rem;
    }
  }
}

// Register - Login
.user-registered-component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $--bg-light;
  padding: 1.15rem 1rem;
  cursor: pointer;

  @media screen and (max-width: 1150px) {
    margin-left: 0rem;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 5px;
    background-color: $--primary-color;
    transform-origin: right center;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
  }
  &:hover::after {
    transform-origin: left center;
    transform: scaleX(1);
  }

  h3 {
    font-size: 1.05rem;
    margin-right: 0.35rem;
    @media screen and (max-width: $--breakpoint-sm) {
      display: none;
    }
  }

  img {
    width: 2.15rem;
    border-radius: 50px;
  }

  i {
    font-size: 2rem;
  }
}
.login-icon {
  font-size: 1.7rem;
  cursor: pointer;
}
