@mixin flexCenter($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin titleAndUnderline() {
  position: relative;
  margin: 2.5rem auto 0 auto;
  font-size: 2.15rem;
  text-align: center;

  &::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 6px;
    margin: 10px auto 0;

    background-color: $--primary-color;
    border-radius: 12px;
  }
}

@mixin primaryButton(
  $bgColor: $--primary-color,
  $hover: $--primary-color-hover
) {
  color: $--white;
  background: $bgColor;
  font-family: 'Open Sans', 'Inter', Arial;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.75rem 2.5rem;
  border: 1px solid $bgColor;
  border-radius: $--borderRadiusInput;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out 0s,
    border-color 0.1s ease-in-out 0s;

  &:hover {
    background-color: $hover;
    border-color: $hover;
  }

  i {
    margin-left: 1rem;
    font-size: 1.65rem;
  }
}

@mixin secondaryButton($--text: capitalize) {
  flex: 1;
  width: auto;
  padding: 0.65rem 1rem;
  min-width: 125px;
  color: $--white;
  background-color: $--bg-gray;
  font-size: 0.8rem;
  text-transform: $--text;
  border: 1px solid $--bg-gray;
  border-radius: $--borderRadiusInput;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out 0s,
    border-color 0.1s ease-in-out 0s;
}

@mixin dollarSign {
  &::before {
    content: '$';
    font-size: 10px;
    vertical-align: super;
  }
}

@mixin searchIcon {
  padding-right: 2.5px;
  background-color: transparent;
  border-color: transparent;
}
