@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap');
@import './variables';
@import './components/base.scss';
@import './components/header';
@import './components/footer';
@import './components/firebase';
@import './pages/buyCar';
@import './pages/singleCar';
@import './pages/sellCar';
@import './pages/faq';
@import './pages/ourTeam';
@import './pages/contact';
@import './sections/firstLook';
@import './sections/howitworks';

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

nav *,
button,
input,
h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: auto;
  padding: $--x-padding-page;
  max-width: $--max-page-width;
  min-height: $--min-page-height;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

// Hide arrows on input[type='number']
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
